.item {
    box-sizing: border-box;
    width: 85%;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(255, 255,255, 0.2);
    color: white;
    border: 1px solid #886f9f;
    padding: 12px 17px;
    margin-bottom: 10px;
    border-radius: 5px;
}

.item-link {
    width: 180px;
}

.item-link:hover {
    color: #ffd337;
}


.time {
    width: 70px;
}

.icon {
    width: 30px;
    height: 30px;
    background-image: url(https://i.postimg.cc/dtTg12CZ/check-circle.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    cursor: pointer;
}

.icon-delete {
    background-image: url(https://www.svgrepo.com/show/244133/delete-ui.svg);
}

.icon-delete:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.load {
    width: 100%;
    height: 50px;
}

.load-box {
    margin: 0 auto;
}

.icon-load {
    display: block;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-top: 180px;
}

.progress {
    order: 1;
    width: 100%;
    height: 10px;
    border-radius: 5px;
}

.progress-div {
    margin-right: 20px;
    background-color: #502971;
    box-shadow: 0px 0px 3px 0px rgba(255,255,255,0.75);
    margin-top: 10px;
}

.progress-precent {
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(255,209,67,1) 0%, rgba(255,145,83,1) 90% );
    animation-name: prog;
}

@keyframes prog {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .item{
        font-size: 18px;
        margin-bottom: 15px;
    }
    .icon {
        width: 40px;
        height: 40px;
    }
    .icon-load {
        width: 70px;
        height: 70px;
    }
    .item-link {
        flex: 2;
    }
    
    .time {
        flex: 1;
        text-align: center;
    }
    .progress {
        flex: 3;
        order: 0;
        margin-top: 0;
    }
    
}