.header {
    box-sizing: border-box;
    width: 100%;
    background-color: #40106b;
    border: 1px solid #7e428a;
    position: fixed;
    top: 0;
    left: 0;
}


.header__up {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.header__hora {
    text-align: center;
}

@media (min-width: 768px) {
    .header__up {
        flex-direction: row;
    }
}